:root {
  --highlight-color: #1976d2;
  --font-family-heading: Montserrat;
  --font-family-paragraph: Montserrat;
  --font-family-monospace: JetBrains Mono, monospace;
  --link-color: #311b92;
  --text-color: #333;
}

html {
  font-size: 16pt;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.intro h1 {
  font-size: 3em;
  line-height: 1;
  font-weight: 400;
}

pre {
  padding: 12px;
  background-color: black;
  color: antiquewhite;
  overflow: scroll;
  overflow: overlay;
}

.content {
  font-size: inherit;
}

.header .header-logo {
  font-size: 1.8em;
  font-weight: normal;
}

.content h1 {
  font-size: 1.7em;
  line-height: 1.1;
}

.content h2 {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 300;
}


.content h3 {
  font-size: 1.3em;
  line-height: 1.2;
  font-weight: 300;
}

.content h4 {
  font-size: 1.1em;
  font-weight: 300;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-family: Montserrat;
}

.content h5 {
  font-size: 1em;
  font-weight: 300;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-family: Montserrat;
}

.content p {
  font-size: inherit;
  font-weight: 500;
}

.content ul,
.content ol {
  margin-left: 0;
}

.content ul li,
.content ol li {
  font-size: inherit;
  line-height: 1.6;
}

.content ul li {
  list-style: disc;
}

.content ol li {
  list-style: decimal;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content .icon {
  margin: 0;
  width: 24px;
}

.header a.header-logo {
  margin: 0;
}

.content li a {
  display: inline-block;
}

.content p>code {
  color: beige;
  background-color: #333;
  font-size: 80%;
  padding: 2px 6px;
  white-space: nowrap;
  border-radius: 2px;
  display: inline-block;
}


.content .highlight pre {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
}

.hero-link {
  display: flex;
  align-items: center;
  gap: 16px
}

.hero-link img {
  width: 16px;
}

.hero-link span {
  position: relative;
}

.hero-link span::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 24px;
  aspect-ratio: 1;
  background-image: url("/images/external.svg");
  background-size: contain;
}

.with-icon {
  display: flex;
  align-items: center;
  gap: 16px
}

.content .with-icon img {
  margin: 0;
}

.content .brigade-logo {
  width: 256px;
  float: right;
  margin: 0;
  margin-left: 32px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 0;
}

.camo-text {
  background-image: url("/images/camo.webp");
  background-size: 512px;
  padding: 32px;
  color: white;
  text-shadow: 0 2px 0 black;
  position: relative;
}

.camo-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  bottom: 0;
  left: 0;
  z-index: 0;
}

.camo-text span,
.camo-text img {
  position: relative;
  z-index: 1;
}


@media screen and (max-width: 800px) {

  .content ul,
  .content ol {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12pt;
  }

  body.frame {
    border-width: 9px;
  }

  .content .highlight pre {
    overflow: overlay;
  }

  .hero-link img {
    width: 32px;
  }

  .hero-link span::after {
    width: 16px;
  }

  .camo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content .brigade-logo {
    width: auto;
    float: none;
    margin-left: 0;
    margin-bottom: 32px;
  }


}

.tooltip {
  cursor: default;
  width: 16px;
  height: 16px;
  border-bottom: 2px dashed #000;
  position: relative;
}

.tooltip::after {
  content: "?";
  position: absolute;
  font-size: 0.5em;
  right: 0;
  translate: 50%;
  font-weight: 600;
}

.tooltip:hover {
  background-color: #333;
  color: white;
}

.pavlova--virtual-title {
  text-align: center;
  font-weight: 800;
  margin: 20px;
}

p.big-text {
  font-size: 1.5em;
}

.pavlova--virtual-title p {
  margin: 0;
}

.popover {
  box-sizing: border-box;
  width: max-content;
  position: absolute;
  font-size: 0.9rem;
  background-color: aliceblue;
  padding: 0.6em;
  border: 2px solid var(--highlight-color);
  box-shadow: 0 3px 10px black;
  z-index: 999;
  left: 50%;
  bottom: 100%;
}

p.popover-content {
  max-width: 360px;
  margin: 0;
  font-size: 0.75em;
  font-family: var(--font-family-monospace);
}

@media screen and (max-width: 480px) {
  .popover {
    max-width: calc(100vw - 18px);
  }

  .intro h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .intro {margin-bottom: 0;}
}