:root {
  --highlight-color: #1976d2;
  --font-family-heading: Montserrat;
  --font-family-paragraph: Rubik;
  --font-family-monospace: JetBrains Mono, monospace;
  --link-color: #311b92;
}

html {
  font-size: 16pt;
}

a {
  color: var(--link-color);
}

.intro h1 {
  font-size: 3em;
  line-height: 1;
}

pre {
  padding: 12px;
  background-color: black;
  color: antiquewhite;
  overflow: scroll;
  overflow: overlay;
}

.content {
  font-size: inherit;
}

.content h2 {
  font-size: 1.5em;
  line-height: 1.2;
}

.content p {
  font-size: inherit;
}

.content ul,
.content ol {
  margin-left: 0;
}

.content ul li,
.content ol li {
  font-size: inherit;
  line-height: 1.6;
}

.content ul li {
  list-style: disc;
}

.content ol li {
  list-style: decimal;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content .icon {
  margin: 0;
  width: 24px;
}

.header a.header-logo {
  margin: 0;
}

.content li a {
  display: inline-block;
}


@media screen and (max-width: 800px) {
  .content ul,
  .content ol {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12pt;
  }
  body.frame {
    border-width: 9px;
  }
}
