{{ $isHome := .Page.IsHome }}
{{ $isAbout := eq .Params.id "about" }}
<header class='header'>
  
  {{if not $isHome}}
  <a class="header-logo" href="{{ .Site.BaseURL }}">На головну сторінку</a>
  {{end}}
  {{if not $isAbout}}
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    
      <a href="{{ .URL | relLangURL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">{{ .Name }}</a>
    
    {{end}}
  {{end}}

  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</header>